# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\NewLife\GitHub\pwm-changer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
